@page
@model IndexModel
@{
}
<h1>Role List</h1>
<partial name="_StatusMessage" model="@Model.StatusMessage"/>
<form method="post" class="my-1 d-inline">
    <button class="btn btn-primary"
        asp-page="./Add"
        asp-page-handler="StartNewRole"
    >Add new Role</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Roles)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <form method="post" class="d-inline">
                        <button class="btn btn-success btn-sm"
                                name="Input.Id"
                                value="@item.Id"
                                asp-page="./Add"
                                asp-page-handler="StartUpdate">
                            Update Role
                        </button>
                    </form>
                    <form method="post" class="d-inline">
                        <button class="btn btn-success btn-sm"
                                name="Input.Id"
                                value="@item.Id"
                                asp-page="./Delete">
                            Delete Role
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>